/* FOOTER */
.footer {
  height: 50rem;
  background-image: url(../../../img/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-white);
}

.copyright {
  background-color: var(--color-black);
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}
