/* MODELS */
.models-catalog h2 {
  text-transform: capitalize;
}

.models {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.model {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.model-content {
  padding: 5rem;
  background-color: var(--color-white);
}

.model.basic {
  background-image: url(../../../img/modelo_basico.jpg);
}

.model.premier {
  background-image: url(../../../img/modelo_premier.jpg);
}

.model.elite {
  background-image: url(../../../img/modelo_elite.jpg);
}

.models h2, .models h3 {
  text-transform: capitalize;
}

/* media queries */
@media (min-width: 768px) {
  .model {
    grid-template-columns: repeat(2, 1fr);
  }
  .model.basic {
    background-position: top right;
  }
  .model.basic .model-content {
    grid-row: 2 / 3;
    padding: 2rem 2rem 2rem 0;
  }
  .model.premier {
    background-position: top left;
  }
  .model.premier .model-content {
    grid-column: 2 / 3;
    padding: 2rem;
  }
  .model.elite {
    background-position: top right;
  }
  .model.elite .model-content {
    padding: 2rem 2rem 2rem 0;
  }
}
